
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@keyframes rotate {
  0% {
    transform: rotate(-5deg); /* 시작점: 좌측으로 5도 회전 */
  }
  50% {
    transform: rotate(5deg); /* 50% 지점: 우측으로 5도 회전 */
  }
  100% {
    transform: rotate(-5deg); /* 끝점: 좌측으로 5도 회전 (원래 위치로 복귀) */
  }
}

.section04 figure:hover {
  animation: rotate 1s ease infinite; /* 애니메이션을 적용하고 무한 반복합니다. */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit
}

body {
  font-family: 'Pretendard-Regular';
  line-height: 1;
  background-color: black;
  color: #ffffff;
}

.section {
  padding-top: 100px;
}

.header {
  height: 100px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header .inner {
  margin: 0 auto;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  z-index: 10;
}
.header .inner figure{ cursor: pointer;}
.header ul {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  font-size: 26px;
}
.header .inner ul li:nth-child(4){
  display: none;
}
.hoverable-text{
  text-align: center;
}
.xx{
  line-height: 0.2;
}
.header ul li {
  text-align: center;
  position: relative;
  cursor: pointer;
}

.header ul li span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.header ul li figure {
  height: 60px;
}

.header ul li figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header ul li:nth-child(2) figure {
  width: 60px;
  height: 60px;
}

.header ul li:hover span {
  display: inline-block;
  color: #ffffff;

}

.header ul li:hover figure {
  opacity: 30%;
}

.section01 {
  position: relative;
  height: 100vh;
}

.image-container {
  width: 100%;
  height: 100%;
  /* 화면 전체 높이로 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* 이미지가 넘치는 부분은 숨김 */
  background-color: rgba(0, 0, 0, 0.815);
}

.image-container img {
  max-width: 100%;
  height: 100vh;
  animation: fadeIn 3s ease-in-out;
  /* 3초 동안 점점 나타나는 애니메이션 적용 */
}


.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.233);
  width: 100%;
  gap: 30px;
}

.hoverable-text {
  position: relative;
  font-size: 24px;
  color: #ffffff;

}

.text-container h2 {

  font-size: 60px;
}

.hoverable-text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  /* 선 위치 조절 */
  width: 0;
  height: 25px;
  /* 선 높이 설정 */
  background-color: rgba(220, 252, 146, 0.342);
  /* 선 색상 설정 */
  transition: width 0.3s ease-in-out;
  /* 변화 효과 설정 */
}
.xx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  /* 선 위치 조절 */
  width: 0;
  height: 13px;
  /* 선 높이 설정 */
  background-color: rgba(220, 252, 146, 0.342);
  /* 선 색상 설정 */
  transition: width 0.3s ease-in-out;
  /* 변화 효과 설정 */
}
.aa::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  /* 선 위치 조절 */
  width: 0;
  height: 13px;
  /* 선 높이 설정 */
  background-color: rgba(220, 252, 146, 0.342);
  /* 선 색상 설정 */
  transition: width 0.3s ease-in-out;
  /* 변화 효과 설정 */
}

.hoverable-text:hover::before {
  width: 100%;
  /* 호버 시 선의 길이를 100%로 설정하여 나타나게 함 */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* 처음에 투명도 0으로 설정 */
    transform: scale(1.5);
    /* 처음에 크기를 1.5배로 설정 */
  }

  100% {
    opacity: 1;
    /* 마지막에 투명도 1로 설정 */
    transform: scale(1);
    /* 마지막에 원래 크기로 설정 */
  }
}

.section02 {
  width: 100%;
  position: relative;
}

.section02>figure {
  position: absolute;
  top: 20vh;
  right: 16%;
  height: 200px;
  margin-bottom: 30px;
}

.section02>figure img {
  height: 100%;
  opacity: 20%;
}


.section02 h3 {
  font-size: 60px;
  margin: 60px 0 20px;
  text-align: left;
}
.section02 .inner {
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.section02 .inner .section02_text {
  width: 20vw;
  display: flex;
  gap: 30px;
}

.section02_text_L li,
.section02_text_R li {
  margin-top: 20px;
  font-size: 20px;
}

.section02_R {
  margin-top: 60px;
  position: relative;
  /* 자식 요소를 상대 위치로 설정 */
  overflow: hidden;
  /* 자식 요소의 오버플로우를 숨김 */
}
.section02_R ul li:first-child{margin-top: 20px;}
.section02_R h4 {
  font-size: 36px;
  margin-top: 3px;
}

.section02_R h4:nth-child(2) {

  transform: scaleY(-1);
  /* 수직 방향으로 뒤집기 */
  display: none; /* block */
  /* 블록 요소로 변경하여 가로폭을 차지하도록 함 */
  background-image: linear-gradient(to bottom, black, white);
  /* 그라데이션 설정 */
  -webkit-background-clip: text;
  /* 텍스트에만 그라데이션 적용 */
  -webkit-text-fill-color: transparent;
  /* 텍스트 내용은 투명하게 */
}

.section02_R ul {
  font-size: 20px;
  font-weight: 800;
  margin-top: 30px;
}

.section02_R ul li {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.skill {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill div {
  width: 100%;
  margin-bottom: 10px;
}
.skill li figure {
  height: 35px;
}
.skill li figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section03_m{display: none;}
.section03_pc h3 {
  font-size: 60px;
  padding: 100px;
  margin-top: 60px;
  text-align: center;
}

.section03_pc {
  font-size: 20px;
}
.section03_pc .section03_pc_img {
  width: 100%;

}
.section03_pc .section03_pc_img img{
  width: 100%;
}

.section03_pc_text{
  display: flex;
  margin-bottom: -2px;
  margin-left: 2px;
}
.section03_pc_text p{
  margin-right: -20px;
  text-align: center;
  font-weight: 800;
  line-height: 1.2;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 25px 25px 0 0;
  cursor: pointer;
}

.section03_pc_position {
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: 0 auto;
  position: relative;
}

.section03_pc .section03_pc_position .section03_pc_flex {
  max-width: 1340px;
  width: calc(100% - 80px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50% , -50%);
  display: none;
  line-height: 1.3;
}
.section03_pc .section03_pc_position .section03_pc_flex span{
line-height: 1.6;
}
.section03_pc .section03_pc_flex .section03_pc_text_box {
  width: 100%;
  display: flex;
  gap: 5px;
  margin-bottom: 50px;
}
.section03_pc .section03_pc_flex .section03_pc_text_box .section03_pc_text_L {
  width: 30%;
  text-align: LEFT;
}
.section03_pc .section03_pc_flex .section03_pc_text_box .section03_pc_text_L p{
  font-weight: 800;
}

.section03_pc .section03_pc_flex .section03_pc_text_box p {
  margin-top: 20px;

}
.section03_pc_tag a:first-child{
  background-color: #fff;
  color: #333;
}
.section03_pc .section03_pc_flex .section03_pc_tag{
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.section03_pc .section03_pc_flex .section03_pc_tag a{
  display: block;
 padding: 10px 30px;
 border: 1px solid #fff;
}
.section03_pc .section03_pc_flex .section03_pc_tag a:hover{
  color: #fff;
}

.section03_pc_img{
  display: none;
}
.section03_pc_img.on{
  display: block;
}
.section03_pc .section03_pc_position .section03_pc_flex.on{
  display: flex;
} 
.section03_pc .section03_pc_position .section03_pc_flex.on figure{
  width: 46%;
}
.section03_pc .section03_pc_position .section03_pc_flex.on figure img{
  width: 100%;
}
.section03_pc .section03_pc_position .section03_pc_flex.on > div{
  width: 46%;
}


.section03_pc_text .b1{
  background-color: #47A3D2;
} 
.section03_pc .section03_pc_flex .section03_pc_tag .b1{border: 1.5px solid #47A3D2;}
.section03_pc .section03_pc_flex .section03_pc_tag .b1:hover{
  background-color: #47A3D2;
  font-weight: 800;
  border: 1px solid #fff;
}
.section03_pc_text .b2{
  background-color: #FBC22B;
} 
.section03_pc .section03_pc_flex .section03_pc_tag .b2{border: 1.5px solid #FBC22B;}
.section03_pc .section03_pc_flex .section03_pc_tag .b2:hover{
  background-color: #FBC22B;
  font-weight: 800;
}
.section03_pc_text .b3{
  background-color: #F11486;
} 
.section03_pc .section03_pc_flex .section03_pc_tag .b3{border: 1.5px solid #F11486;}
.section03_pc .section03_pc_flex .section03_pc_tag .b3:hover{
  background-color: #F11486;
  font-weight: 800;
}
.section03_pc_text .b4{
  background-color: #A067AC;
} 
.section03_pc .section03_pc_flex .section03_pc_tag .b4{border: 1.5px solid #A067AC;}

.section03_pc .section03_pc_flex .section03_pc_tag .b4:hover{
  background-color: #A067AC;
  font-weight: 800;
}
.section03_pc_text .b5{
  background-color: #8CE33D;
} 
.section03_pc .section03_pc_flex .section03_pc_tag .b5{border: 1.5px solid #8CE33D;}
.section03_pc .section03_pc_flex .section03_pc_tag .b5:hover{
  background-color: #8CE33D;
  font-weight: 800;
}
.section03_pc_text .b6{
  background-color: #FBC22B;
} 
.section03_pc .section03_pc_flex .section03_pc_tag .b6{border: 1.5px solid #FBC22B;}
.section03_pc .section03_pc_flex .section03_pc_tag .b6:hover{
  background-color: #FBC22B;
  font-weight: 800;
}
.section04 {
  width: 100%;
  background-image: url("../img/sectionbg.png"); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;

  
}
.section04 h3 {
  font-size: 60px;
  padding: 100px;
  margin-top: 60px;
  text-align: center;
}

.section04 .img-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 80px;
  row-gap: 160px;
}
.section04 .img-container a {
  width: 15.8%;
}
.section04 .img-container a figure{
  rotate: 15deg;
}
.section04 .img-container a figure img {
  width: 100%;
}

.section04 ul {
  margin-top: 160px;
  display: flex;
  gap :20px;
  justify-content: center;
  
}
.section04 ul li {
  color: #333;
  padding: 10px 30px;
  background-color: #fff;
  font-size: 26px;
  font-weight: 800;
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
  
}
.section04 ul:last-child li{
margin-bottom: 200px;}
.section04 ul li:hover {
  background-color: #FBC22B;
}

.section05 {
  width: 100%;
  background-image: url("../img/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}

.section05 ul {
  width: calc(100% - 80px);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  /* display: none; */
}
.section05 li{
  transition: transform 0.5s ease;
}
.section05 li:hover{
  transition: transform 0.5s ease;
  transform: translate(10px, -10px); 
}
.section05 ul li{
  cursor: pointer;
}
.section05 ul li figure {
  width: 29vw;
  height: 29vw;
  overflow: hidden;
}

.section05 ul li figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section05 h3 {
  font-size: 60px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 160px;
}
.section05{
  font-size: 20px;
}
.section05 .end{
  margin: 0 auto;
  padding-top: 100px;
}
.end .section05_flex h3 {
  font-size: 60px; /* 글자 크기 조절 */
  text-align: center;
  overflow: hidden; /* 글자 숨김 */
  white-space: nowrap; /* 한 줄에 표시되도록 설정 */
}

.end h3 span {
  opacity: 0; /* 초기에는 보이지 않음 */
  transition: opacity 0.5s ease; /* 투명도 전환 애니메이션 */
}
.end2 {
  width: 50%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.end2 p {
  font-size: 24px;
  margin-top: 20px;
}
.end2 figure {
  height: 150px;
}
.end2 figure img{
  height: 100%;
}
.section05 .end3{
  margin: 50px 0 20px 0px;
}
.section05 .end3 p {
  font-size: 14px;
  margin-top: 10px;
  color: #ffffff50;
  text-align: center;
}
.section05 .end3 p:nth-child(4) {
  margin-top: 50px;
}
.section05 .end3 > p { 
  padding: 20px 0;
}



@media screen and (max-width: 440px) {
  .header .inner h1 figure{height: 20px; }
  .section {padding-top: 30px;}
  .header .inner {
    width : calc(100% - 20px);
    height :70px;
    figure{ height: 30px;
    img{ height: 100%;}
    }
  }
  .header{
    height: 70px;
  }
  .header ul{
    gap: 15px;
    margin-right: 10px;
  }
  .image-container img{height: 50vh;}
  .text-container{height: 30vh;}
  .header ul li span{
    font-size: 14px;
  }
  .header ul li:nth-child(2) figure{width: 30px;height: 30px;}
  .xx{line-height: 1.3;}
  .hoverable-text{font-size: 14px;}
  .text-container h2{font-size: 40px;}
  .hoverable-text{word-break: keep-all;}
  .section02 .inner{display: block;}
  .section02 h3{font-size: 40px;}
  .text-container{gap: 10px;}
  .section01 {height: 40vh;}
  .section02 > figure{display: none;}
  .section02_L > figure { height: 200px;}
  .section02_L > figure img{ height: 100%;}

  .section02 h3 {margin: 0 0 20px 0 ; }
  .section02_R{margin-top: 30px;}
  .section02_R h4{font-size: 24px;}
  .section02_text_L li, .section02_text_R li{font-size: 16px;}
  .section02_R ul{font-size: 16px;}
  .section02_R ul:last-of-type{margin-bottom: 60px;}
  .section02_R ul li{font-size: 14px;}
  .section03_pc{display: none;}
  .section03_m{display: block;}
  .section03_pc_flex.mobile{display: block;}
  .section03_m h3 {
    font-size: 60px;
    padding: 100px;
    margin-top: 60px;
    text-align: center;
  }
  
  .section03_m {
    font-size: 20px;
  }
  .section03_m .section03_img {
    width: 100%;
  
  }
  .section03_m .section03_img img{
    width: 100%;
  }
  
  .section03_text{
    display: flex;
    margin-bottom: -2px;
    margin-left: 2px;
  }
  .section03_text p{
    margin-right: -20px;
    text-align: center;
    font-weight: 800;
    line-height: 1.2;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 25px 25px 0 0;
    cursor: pointer;
  }
  .section03_m h3{
    font-size: 30px;
    padding: 30px 0;
    margin-top: 0px;
  }
  .section03_inner {
    max-width: 1440px;
    width: calc(100% - 40px);
    margin: 0 auto;
    position: relative;
  }
  .section03_m figure {
    width: 100%;
  }
  .section03_m figure img{
    width: 100%;
  }

  .section03_m .section03_position .section03_flex {
    max-width: 1340px;
    width: calc(100% - 80px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: none;
    line-height: 1.3;
  }
  .section03_m .section03_position .section03_flex figure{
    width: 100px;
  }
  .section03_m .section03_position .section03_flex figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section03_m .section03_position .section03_flex span{
  line-height: 1.6;
  }
  .section03_m .section03_flex .section03_text_box {
    width: 100%;
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
  }
  .section03_m .section03_flex .section03_text_box .section03_text_L {
    width: 40%;
    text-align: LEFT;
  }
  .section03_m .section03_flex .section03_text_box .section03_text_L p{
    font-weight: 800;
  }
  
  .section03_m .section03_flex .section03_text_box p {
    font-size: 16px;
    margin-top: 20px;
  
  }

  .section03_m .section03_flex .section03_tag{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    
  }
  .section03_m .section03_flex .section03_tag a{
    display: block;
   padding: 10px 15px;
   border: 1px solid #fff;
   margin-bottom: 80px;
   font-size: 16px;
  }
  
  .section03_img{
    display: none;
  }
  .section03_img.on{
    display: block;
  }
  .section03_m .section03_position .section03_flex.on{
    display: flex;
  } 
  .section03_m .section03_position .section03_flex.on figure{
    width: 46%;
  }
  .section03_m .section03_position .section03_flex.on figure img{
    width: 100%;
  }
  .section03_m .section03_position .section03_flex.on > div{
    width: 46%;
  }
  

  .section03_tag .b1:first-child{
    background-color: #47A3D2;
    color: #fff;
  } 
  .section03_m .section03_flex .section03_tag .b1{border: 1.5px solid #47A3D2;}
  .section03_m .section03_flex .section03_tag .b1:hover{
    background-color: #47A3D2;
    font-weight: 800;
    border: 1px solid #fff;
  }
  .section03_tag .b2:first-child{
    background-color: #FBC22B;
  } 
  .section03_m .section03_flex .section03_tag .b2{border: 1.5px solid #FBC22B;}
  .section03_m .section03_flex .section03_tag .b2:hover{
    background-color: #FBC22B;
    font-weight: 800;
  }
  .section03_tag .b3:first-child{
    background-color: #F11486;
  } 
  .section03_m .section03_flex .section03_tag .b3{border: 1.5px solid #F11486;}
  .section03_m .section03_flex .section03_tag .b3:hover{
    background-color: #F11486;
    font-weight: 800;
  }
  .section03_tag .b4:first-child{
    background-color: #A067AC;
  } 
  .section03_m .section03_flex .section03_tag .b4{border: 1.5px solid #A067AC;}
  
  .section03_m .section03_flex .section03_tag .b4:hover{
    background-color: #A067AC;
    font-weight: 800;
  }
  .section03_tag .b5:first-child{
    background-color: #8CE33D;
  } 
  .section03_m .section03_flex .section03_tag .b5{border: 1.5px solid #8CE33D;}
  .section03_m .section03_flex .section03_tag .b5:hover{
    background-color: #8CE33D;
    font-weight: 800;
  }
  .section03_tag .b6:first-child{
    background-color: #FBC22B;
  } 
  .section03_m .section03_flex .section03_tag .b6{border: 1.5px solid #FBC22B;}
  .section03_m .section03_flex .section03_tag .b6:hover{
    background-color: #FBC22B;
    font-weight: 800;
  }
  .section03_inner div span br {display: none;}
  .section03_inner div span{font-size: 16px;}
  
.section04 h3 {
  font-size: 30px;
  padding: 30px 0;
  margin-top: 0px;
  text-align: center;}
  .section04 .img-container {
    width: calc(100% - 40px);
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    row-gap: 40px;}
    .section04 .img-container a{width: 21.8%;}
    .section04 ul{margin-top: 60px;}
    .section04 ul li{font-size: 16px;}
    .section04 ul:last-child li{margin-bottom: 60px;}
    .section05{font-size: 16px;}
    .section05 h3 {
      font-size: 30px;
      text-align: center;
      padding-top: 0px;
      padding-bottom: 30px;}

    
    .section05 ul {width: calc(100% - 40px); gap: 10px; row-gap: 20px;}
    .section05 ul li{width: 48%;}
    .section05 ul li figure{width: 40vw; height: 40vw;}
    .section05 li:hover{
      transition: transform 0.5s ease;
      transform: translate(5px, -5px); 
    }
        .end2 p {
          font-size: 16px;
          margin-top: 10px;}
          .end2 figure {
            height: 70px;}
            .section05 .end3 {
              margin: 0px 0 20px 0px;
          }
          .section05 .end3 p {
            font-size: 13px;
            margin-top: 7px;
            word-break: keep-all;
          }
          .header .inner ul li:nth-child(4){
            display: block;
          }
          .header .inner ul li:nth-child(3){
            display: none;
          }
}